.center {
      display: flex;
      justify-content: center;
}

h1, h2 {
      display: flex;
      font-family: 'Inter';
      font-weight: 600;
      align-items: center;
      justify-content: center;
}

.changeFont {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 50%;
      opacity: 0.5;
}

button {
      margin-top: 1em;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 1.2em;
      color: white;
      background-color: black;
      border: none;
      border-radius: 2px;
      transition: all 0.4s;
}

button:hover {
      transform: scale(1.05) skewX(-8deg);
      color: rgb(131, 131, 131);
      background-color: rgb(51, 51, 51);
      border: none;
      opacity: 0.8;
      box-shadow: 5px 5px 6px #CCC;
}